.login-image-bg {
    -fx-background-image: url("assets/registerImage2.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.login-heading {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
}
